@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding: 0 32px 0 24px;
}

.main-navigation .logo-placeholder a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
}

.hero {
  background-image: url(../img/background_hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 114px 24px;
}

.hero h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0 0 12px;
}

.hero h1 span {
  display: block;
}

.hero p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0 0 12px;
}

.hero h2 {
  color: #7f8cff;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.hero ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
