@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #344563;
  background-color: #e5e5e5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Typography */
h1,
h2 {
  color: #172b4d;
  font-weight: 700;
  margin: 0 0 12px;
}

p {
  margin: 0 0 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a.button {
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  letter-spacing: 0.03em;
  display: inline-block;
  text-decoration: none;
  transition: all ease 0.3s;
}

a.button:hover {
  background-color: #6070ff;
  color: #fff;
  border-color: #6070ff;
}

a.button:active {
  background-color: #2230d2;
  color: #fff;
  border-color: #2230d2;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding: 0 32px 0 24px;
  background-color: #fff;
}

.main-navigation .logo-placeholder a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
}

.hero {
  background-image: url(../img/background_hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 114px 24px;
  background-color: #fff;
}

.hero h1 {
  font-size: 40px;
  line-height: 52px;
}

.hero h1 span {
  display: block;
}

.hero p {
  line-height: 24px;
}

.hero h2 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.hero ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Works */
.works {
  display: grid;
  padding: 114px 24px;
  row-gap: 88px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  gap: 12px;
}

.card img {
  max-width: 100%;
}

.card .card-content h2 {
  font-size: 32px;
  line-height: 44px;
}

.card .card-content ul.project-details {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin: 0 0 12px;
}

ul.project-details li {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

ul.project-details li::before {
  content: url(../img/icons/circle.svg);
  margin: 0 12px;
}

ul.project-details li:first-child::before {
  content: "";
  margin: 0;
}

ul.project-details li span.company {
  color: #344563;
  text-transform: uppercase;
}

.card .card-content p {
  font-size: 15px;
}

ul.categories {
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 0 0 24px;
}

span.tag {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #6070ff;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
}

/* About me */

.about-myself {
  border-top-right-radius: 80px;
  padding: 114px 24px;
  background-color: #fff;
}

.about-myself .about-title {
  font-size: 40px;
  line-height: 52px;
}

.about-myself .about-content {
  line-height: 24px;
}

.about-myself h3.uppercase {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-myself ul.social-icons {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.about-footer {
  padding: 12px 0;
}

/* Expertise Section */
.expertise ul.expertise-category-items li {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #f7f7f9;
  padding: 9px 12px;
  border-radius: 8px;
}

.expertise ul.expertise-categories > li {
  border-bottom: 1px solid #dfe1e6;
  transition: all ease 0.3s;
}

.expertise ul.expertise-category-items li:last-child {
  margin-bottom: 12px;
}

.expertise ul.expertise-category-items li p {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.expertise ul.expertise-categories > li h2 {
  margin: 0;
  padding: 24px 34px 24px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.expertise ul.expertise-categories > li h2::after {
  content: "";
  background-image: url(../img/icons/chevron-icon.svg);
  display: block;
  width: 24px;
  height: 24px;
}

.expertise ul.expertise-categories > li.expanded {
  border-bottom-color: #fff;
}

.expertise ul.expertise-categories > li.expanded h2::after {
  transform: rotate(90deg);
}

.expertise ul.expertise-categories .expertise-title {
  color: #000;
}

.expertise ul.expertise-categories ul.expertise-category-items {
  max-height: 0;
  overflow: hidden;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.expertise ul.expertise-categories > li.expanded ul.expertise-category-items {
  max-height: 300px;
}

.contact{
  background: #6070FF;
  border-top-left-radius: 70px;
}